@model List<MVC_Project.Models.student>
@{
    ViewBag.Title = "display";
}
@if (Session["userid"] != null)
{
    
    <br />
    @Html.ActionLink("Register", "create", null, new { @class = "btn btn-info" })
    <br />
    @Html.Partial("allusers")


}
else
{
    <div>
        <h1> Welcome To Our Website </h1>
        <p>You Can Register From Link Below</p>
        <br />
        <br />
        @Html.ActionLink("Register", "create", null, new { @class = "btn btn-info" })
        <br />
        <br />
    </div>
}
