@model SelectList
@{
    ViewBag.Title = "Index";
}

@if (Session["userid"] != null)
{

    @Html.DropDownList("dpid", Model)

    <div id="d">

    </div>

    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script>

        $("#dpid").on("change", function () {
            let id = $("#dpid").val();
            $("#d").load("/studentdept/studentsindept/" + id);
        })


    </script>
}
else
{
    <div>
        <h1> Welcome To Our Website </h1>
        <p>You Can Register From Link Below</p>
        <br />
        <br />
        @Html.ActionLink("Register", "create", null, new { @class = "btn btn-info" })
        <br />
        <br />
    </div>
}

